@page
@model Client.Pages.DetailsModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Részletek</title>
</head>
<body>
    <div class="text-center">
        <p>@Model.Output</p>
    </div>
</body>
</html>